services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: mlflow_server
    command: >
      mlflow server
        --host 0.0.0.0
        --port 5000
        --backend-store-uri sqlite:///mlflow.db
        --default-artifact-root /mlflow/artifacts
    ports:
      - "5000:5000"
    volumes:
      - mlflow_artifacts:/mlflow/artifacts
      - mlflow_db:/mlflow
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

volumes:
  mlflow_artifacts:
  mlflow_db: